
@{
    ViewBag.Title = "Rob's Previous Cars Page";
}

<h2>Rob's Previous Cars</h2>

<p> Pics and info coming soon....</p>
<ul>
    <li>2005 Dodge Magnum</li>
    <li>2000 Chevy Express 1500</li>
    <li>2005 Dodge Neon SXT</li>
    <li>2012 Dodge Journey</li>
    <li>2003 Dodge Ram 1500 </li>
    <li>1998 Dodge Ram 1500</li>
    <li>1996 Chrysler Cirrus</li>
    <li>1995 Dodge Stratus</li>
    <li>1995 Dodge Neon</li>
    <li>1999 Dodge Neon</li>
    <li>1954 Dodge B Series Truck</li>
    <li>1939 Plymouth Sedan</li>
    <li>1948 Dodge Coupe</li>
    <li>1946 Dodge Coupe</li>
    <li>1953 Plymouth Cranbrook</li>
    <li>Many more not yet listed.... more to come</li>

</ul>

