
@{
    ViewBag.Title = "Cars";
}

<h2>The 2005 Dodge Magnum with a 300C front end conversion!</h2>
<br />
<p>If you wanted to see some of my @Html.ActionLink("previous cars click here", "Index", "PrevCars") </p>
<p>
    This car started life as a 2005 Dodge Magnum 3.5 SXT. It has since had a bunch of work with a lot more to come.

</p>
<table>
    <tr>
        <td>
            <ul>
                <li>05 300C Hood</li>
                <li>05 300C Headlights</li>
                <li>05 300C Bumper</li>
                <li>05 300C Fenders</li>
                <li>New Radiator</li>
                <li>Drilled and slotted rotors in front</li>
                <li>1.61 inch Tein Lowering springs</li>
                <li>JL audio 10 in custom box</li>
                <li>JL audio 250 watt amp</li>
                <li>Eclipse Indash DVD</li>
                <li>7inch flip down tv screen</li>
                <li>hand controls for leg less driving</li>
                <li>foglights</li>

            </ul>
        </td>
        <td></td>
        <td></td>
    </tr>
</table>

