
@{
    ViewBag.Title = "Contact Rob";
}

<h2>Ways to contact Rob</h2>
<br />
<table>
    <tr>
        <td>
            <address>
                4016 206th St. Ct. E.
                <br />
                Spanaway WA, 98387
                <br />
                253.223.3253
            </address>
        </td>
        
        <td>
            <a href="https://www.linkedin.com/">
                <img src="~/images/linkedin.png" alt="linkedIN" width="25%" />
            </a>
        </td>
        
        <td>
            <a href="https://www.facebook.com">
                <img src="~/images/fb.png" alt="Facebook" />
            </a>
        </td>
        
    </tr>
</table>

